h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

#image-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    margin-top: 10%;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    text-align: center;
}

figure img {
    max-width: 100%;
    height: auto;
}

figcaption {
    margin-top: 8px;
    font-style: italic;
    font-size: .75em;
    text-align: center;
}

#image-gallery figcaption::before { content: "("; }

#image-gallery figcaption::after { content: ")"; }

a {
    float: right;
}

.bottom {
    width: 100%;
    margin-top: 60%;
    margin-bottom: 20px;
}





