h1 {
    text-align: center;
}

.parent {
    display: flex;
    justify-content: space-between;
}

.leftchild {
    border-width: 1px;
    border-style: solid;
    border-color: red;
    border-radius: 15px;
    padding: 10px;
    width: 45%;
    font-weight: 300;
}

.rightchild {
    border-width: 1px;
    border-style: dashed;
    border-color: red;
    border-radius: 15px;
    padding: 10px;
    width: 45%;
    font-weight: 300;
}

.rightchild ul {
    list-style-type: upper-roman;
}
.bottom {
    width: 100%;
    margin-top: 60%;
    margin-bottom: 20px;
}

.bottom a {
    text-decoration: none;
    float: right;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

h3 {
    font-weight: 500;
}
